* { /*reset default*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 84px;
    border-radius: 50%;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero {
    display: flex;
    background-color: #1f2937;
}

.hero .image-btc {
    width: 25%;
    height: auto;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    flex: 1 0 100px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}